<html>
  <body>
    <h1>親のターン</h1>
    
    <h2>
      出目
      
      <%= @deme[0] %>  <%= @deme[1] %>  <%= @deme[2]>
    </h2>
    
    <%= button_to "役を判定する" {controller: 'top', action: 'game2'}, {method: :get} %>
  </body>
</html>
